# System files
/*
!/.gitignore

# Optional: Obsidian workspace cache (recommended to ignore)
.obsidian/*

# Folders to not ignore:
!/000assets/
!/100technologies/
!/300weekly_notes
!/200programming_languages/

# Deep structure whitelist for notes
# Level 1
!/900university/
/900university/*

!/900university/2do_curso/

# Level 2

/900university/2do_curso/*
!/900university/2do_curso/1er_cuatri/
!/900university/2do_curso/2do_cuatri/

# Level 3
/900university/2do_curso/1er_cuatri/*
/900university/2do_curso/2do_cuatri/*

#permitir versionado de materias 1er cuatrimestre
!/900university/2do_curso/1er_cuatri/alg/
!/900university/2do_curso/1er_cuatri/bd/
!/900university/2do_curso/1er_cuatri/IC/
!/900university/2do_curso/1er_cuatri/IS/
!/900university/2do_curso/1er_cuatri/OM/
!/900university/2do_curso/1er_cuatri/Redes/

#permitir versionado de materias 2do cuatrimestre
!/900university/2do_curso/2do_cuatri/ABIA/
!/900university/2do_curso/2do_cuatri/ALF/
!/900university/2do_curso/2do_cuatri/CCPD/
!/900university/2do_curso/2do_cuatri/FAA/
!/900university/2do_curso/2do_cuatri/RCR/

# Level 4
/900university/2do_curso/1er_cuatri/alg/*
/900university/2do_curso/1er_cuatri/bd/*
/900university/2do_curso/1er_cuatri/IC/*
/900university/2do_curso/1er_cuatri/IS/*
/900university/2do_curso/1er_cuatri/OM/*
/900university/2do_curso/1er_cuatri/Redes/*

/900university/2do_curso/2do_cuatri/ABIA/*
/900university/2do_curso/2do_cuatri/ALF/*
/900university/2do_curso/2do_cuatri/CCPD/*
/900university/2do_curso/2do_cuatri/FAA/*
/900university/2do_curso/2do_cuatri/RCR/*

#permitir SOLO versionado de directorio notas dentro de 1er cuatri
#2do curso
!/900university/2do_curso/1er_cuatri/alg/notas/
!/900university/2do_curso/1er_cuatri/bd/notas/
!/900university/2do_curso/1er_cuatri/IC/notas/
!/900university/2do_curso/1er_cuatri/IS/notas/
!/900university/2do_curso/1er_cuatri/OM/notas/
!/900university/2do_curso/1er_cuatri/Redes/notas/

#permitir SOLO versionado de directorio notas dentro de 2do cuatri
#2do curso
!/900university/2do_curso/2do_cuatri/ABIA/notas/
!/900university/2do_curso/2do_cuatri/ALF/notas/
!/900university/2do_curso/2do_cuatri/CCPD/notas/
!/900university/2do_curso/2do_cuatri/FAA/notas/
!/900university/2do_curso/2do_cuatri/RCR/notas/